#r enviroment
.RData
.Rhistory
.Rproj.user/
03-gamm.R

#html
report.html
README.es.html
README.html

results.txt

#tex
main.blg
main.log
main.out
main.aux
main.bbl
main.bcf
main.synctex.gz
main.run.xml